<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <div class="header" th:fragment="headerFragment">
    <div class="layout">
      <ul class="header_nav-ul">
        <li class="header_nav-li">로고</li>
        <li class="header_nav-li">검색</li>
        <li class="header_nav-li">
          <a th:href="@{/community/new}">글쓰기</a>
        </li>
        <li class="header_nav-li">로그인</li>
      </ul>
    </div>
  </div>

</body>
</html>