<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
  <head></head>
  <body>

    <div layout:fragment="contents">
      <!-- 카테고리 -->
      <select name="" id="">
        <option value="A">카테고리A</option>
        <option value="B">카테고리B</option>
        <option value="C">카테고리C</option>
      </select>

      <!-- 글작성 -->
      <div class="article">
        <input type="text" id="title">
        <textarea name="" id="contents" cols="30" rows="10"></textarea>
        <button id="createBtn">등록</button>
      </div>

      <script>
        $("#createBtn").click(async () => {
          try {
            const apiResult = await requestPostApi("/community/api/new", {
              title: $("#title").val(), 
              contents: $("#contents").val(),
              categoryCode: "A"
            });
            alert("등록 완료하였습니다.");
            location.replace("/community/home/A");
          } catch (error) {
            console.log('[Community Create] error : ', error); 
          }
        });
      </script>
    </div>

  </body>
</html>