<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div layout:fragment="contents">
    'thymeleaf-layout-dialect' version을 3.0.0아래로 하니깐 적용 안되더라.
    <div>index.html wefewf입니다.</div>
  </div>

</body>
</html>